<br>
<br>
<br>
<br>
<div class="jumbotron jtron centered">
<% @album.images.each do |image| %>
<%= image_tag image.image_url %>
<% end %>
  <h1><%= @album.title %></h1>
  <h4><%= @album.artist %></h4>
  <h4><%= @album.genre %></h4>
  <h4><%= @album.description %></h4>
  <h4>$<%= @album.price %> <h4>
  <h4><%= @album.sale_message %> <h4>
  <h4><%= @album.supplier.name %> </h4>
  <h4>Price after tax: <%= number_to_currency(@album.total) %> <h4>
    <div class="centered">
      <%= link_to "Edit Album", "/albums/#{@album.id}/edit", class: "btn btn-primary" %> 
    </div>

    <div class="centered"> 
      <%= link_to "Delete Album", "/albums/#{@album.id}/", method: :delete, class: "btn btn-primary" %>
      <%= link_to "Add Image", "/add_image?album_id=#{@album.id}", class: "btn btn-primary" %>
    </div>

    <div>
      <%= form_tag '/cart', method: :post do %>
      <%= label_tag :quantity %>
      <%= text_field_tag :quantity %>
      <%= hidden_field_tag :album_id, "#{@album.id}" %>
      <%= hidden_field_tag :subtotal, @album.price %>
      <%= hidden_field_tag :tax, @album.tax %>
      <%= hidden_field_tag :total, @album.total %>
      <%= submit_tag "Add to Cart!" %>
      <% end %>
    </div>





